@media screen and (max-width: 1172px) {
  header {
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 6rem;
  }
  .menu li a {
    font-size: 17px;
  }

  .menu {
    gap: 15px;
  }
  .openCloseMenu button {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  .container_About .right {
    padding-right: 39px;
  }
  .singleBLogContainer {
    gap: 20px;
  }
  .singleBLogContainer .left {
    width: 630px;
  }
}

@media screen and (max-width: 936px) {
  .logo a img {
    position: relative;
    z-index: 1111111;
  }
  header .menu {
    flex-direction: column;
    float: left;
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-color: var(--color-white);
    align-items: flex-start;
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 109999;
    padding: 30px 50px;
    display: none;
    animation: mTrans 1.5s ease;
  }

  @keyframes mTrans {
    from {
      top: -50%;
      opacity: 0;
    }

    to {
      top: 63px;
    }
  }
  header .menu li {
    border-bottom: 1px solid gray;
    width: 100%;
    line-height: 35px;
  }
  .userBtn {
    padding-left: 0;
  }

  .openCloseMenu {
    display: block;
  }
  .closeMenu {
    display: none;
  }

  .reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 15px;
  }
  .reseaux a {
    font-size: 20px;
  }

  .contanerHero {
    left: 66px;
  }
  .container_About .left img {
    height: 200px;
  }
  .container_About {
    flex-direction: column-reverse;
    padding: 0 30px;
  }
  .container_About .right article {
    font-size: 17px;
  }
  .container_About .left,
  .container_About .right {
    width: 100%;
  }
  .contactContainer {
    flex-wrap: wrap;
  }
  .contactContainer .left,
  .contactContainer .right {
    width: 100%;
  }
  .container_About .left img {
    width: 100%;
  }

  .singleBLogContainer {
    display: block;
  }
  .singleBLogContainer .left {
    width: 100%;
  }
  .singleBLogContainer .right {
    position: relative;
    top: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutPageContainer {
    flex-wrap: wrap-reverse;
  }
  .aboutPageContainer .aboutRight,
  .aboutPageContainer .left {
    width: 100%;
  }
  .aboutPageContainer .left {
    padding: 0;
  }

  .productPage h2 {
    font-size: 1.5rem;
  }

  .smallProduct {
    flex-wrap: wrap;
  }
  .smallProduct .left,
  .smallProduct .right,
  .smallProduct .right article {
    width: 100%;
  }

  .contentSmallServices {
    gap: 7px;
  }
}

@media screen and (max-width: 785px) {
  .contanerHero h1 {
    font-size: 40px;
  }

  .contanerHero {
    width: 440px;
  }
  .contanerHero .button img {
    right: 0;
    left: 170px;
  }

  .singleBLogContainer .left .shareSocialMedia {
    padding-left: 0;
    flex-wrap: wrap;
  }

  .singleBLogContainer .left .contentLeft {
    padding: 10px;
  }

  .singleBLogContainer {
    padding: 30px 17px;
  }
}

@media screen and (max-width: 594px) {
  .contanerHero {
    width: 344px;
    top: 200px;
  }
  .contanerHero h1 {
    font-size: 30px;
  }
  header {
    margin: 0 3rem;
  }
  .contanerHero p {
    width: 371px;
  }

  .contanerHero .button img {
    display: none;
  }

  .aboutPageContainer {
    padding: 35px 17px;
  }
  .aboutPageContainer .aboutRight h1 {
    font-size: 30px;
  }

  .smallProduct {
    padding: 20px 0px;
  }
  .smallSinglePage .settingsContainer .settings,
  .smallSinglePage .settingsContainer {
    width: 100%;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 455px) {
  .contanerHero {
    top: 140px;
    width: 266px;
    left: 36px;
  }

  .contanerHero p {
    width: 254px;
  }

  header {
    margin: 0 1rem;
  }

  .left,
  .right {
    padding: 15px;
  }

  .container_About .right {
    padding-right: 0;
  }

  .offreContentIcon {
    width: 282px;
  }

  .contactContainer {
    padding: 30px;
  }

  .contactContainer .left,
  .contactContainer.right {
    width: 100%;
  }
  .contactContainer .left form .name {
    flex-direction: column;
    align-items: flex-start;
  }
  .contactContainer .left form .name input {
    width: 100%;
  }
}
